html {
  scroll-behavior: smooth;
}

:root {
  --dark: #634217;
  --normal: #efc070;
  --smooth: #fff5b6;
  --very-smooth: #eeeeee;
}

body {
  width: 100%;
  background-color: var(--smooth);
  margin: 0;
  font-family: Arial, sans-serif;
  z-index: 8;
}

header {
  z-index: 9;
  border-bottom: 0.5rem solid var(--normal);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  background-color: var(--dark);
}

header h1 {
  font-weight: 800;
  color: var(--very-smooth);
  opacity: 0.9;
  font-size: 1.8rem;
  margin: 0;
}
#shopName::before {
  content: "";
  display: inline-block;
  width: 60px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
  background-image: url("/img/logo2.webp");
  background-size: cover; /* Ensures the image fills the circular area */
  background-position: center; /* Centers the image within the circle */
  background-repeat: no-repeat; /* Prevents tiling of the image */
  border-radius: 50%; /* Makes the shape circular */
  margin-right: 1.2rem; /* Space between the logo and the text */
  vertical-align: bottom; /* Aligns the logo with the text */
}
.headerSection span{
  color: black;
  font-family: 'Roboto';
  font-size: 2.4rem;
}

 
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1.5rem;
}

nav ul li a {
  color: var(--smooth);
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.navLink:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--smooth);
  transform: scale(1.1);
}

.main {
  margin-top: 6rem;
  padding: 2rem;
  box-sizing: border-box;
  color: black;
  background-color: var(--smooth);
}

section {
  scroll-margin-top: 8rem;
  margin-bottom: 2rem;
}
section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}
section h2:hover {
  cursor: pointer;
  color: var(--dark);
}
section p {
  text-align: justify;
  word-break: break-word;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-left: 3rem;
  padding: 1.2rem;
  font-family: 'Roboto';
}



.services ul {
  list-style-type: none;
  width: 100%;
  margin-top: 2rem;
  box-sizing: border-box;
}
.services .un-list {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
  transition: ease-in-out;
}
.services ul li:hover {
  background-color: var(--normal);
  padding: 1rem;
  transition: ease-in;
  border-radius: 15%;
  box-sizing: border-box;
}
/* Book category  */
.catagory ul{ 
  width: 100%;
  display:flex;
  padding: 1rem;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
}
.catagory img{
  box-sizing: border-box;
  width: 300px;
  margin-left: 1rem;
  border-radius: 20%;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;

}










footer {
  background-color: var(--dark);
  color: var(--very-smooth);
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 0.8rem;
}

footer p {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}