:root {
  --dark: #3b1e54;
  --normal: #9b7ebd;
  --smooth: #d4bee4;
  --very-smooth: #eeeeee;
}
body {
  background-color: var(--smooth);
  width: 100%;
}
header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
}
